<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franckrj.jvnotif">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light.Real">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".AddAnAccountActivity"
            android:label="@string/addAnAccount"/>

        <activity
            android:name=".WebNavigatorActivity"
            android:label="@string/app_name"/>

        <receiver
            android:name=".InitThingsBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".NotificationDismissedReceiver"/>

        <service
            android:name=".FetchNotifService"/>

        <service
            android:name=".FetchNotifJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

    </application>
</manifest>
